:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-body-darker: #5c6677;
  --color-borders: #ccc;
  --border-radius: 10rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
/* Typography */

html {
  /*16px * 62,5% = 10px*/
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 2.4rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

/* Typography end */

/*Links*/
a {
  text-decoration: none;
}

.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: bold;
}

.link-arrow::after {
  content: "-->";
  font-weight: bold;
  margin-left: 5px;
  transition: margin 0.2s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 2rem;
  }
}

/* Links end */

/* Badges */

.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}

.badge--small {
  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;
}

.badge--primary {
  background-color: var(--color-primary);
  color: white;
}

.badge--secondary {
  background-color: var(--color-secondary);
  color: white;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge--small {
    font-size: 1.2rem;
  }
}

/* Badges end*/

/* Lists */

.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-headings);
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(../Icons/tick.svg);
  padding-left: 2rem;
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}
/* Lists end*/

/* Icons */

.icon {
  width: 40px;
  height: 40px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon--secondary {
  fill: var(--color-secondary);
}

.icon-container {
  background-color: #f0f9fa;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* Icons end */

/* Buttons */
.btn {
  border-radius: 100rem;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 2rem 3rem;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
  margin: 1rem 0;
}

.btn--primary {
  background-color: var(--color-primary);
  color: white;
}

.btn--primary:hover {
  background-color: #3c91ff; /*lighten(--color-primary, 10%); this is SASS*/
}

.btn--secondary {
  background-color: var(--color-secondary);
  color: white;
}

.btn--secondary:hover {
  background-color: #31e0ff;
}

.btn--accent {
  background-color: var(--color-accent);
  color: white;
}

.btn--accent:hover {
  background-color: #ff5d34;
}

.btn--purple {
  color: var(--color-headings);
  background-color: white;
  border: 2px solid var(--color-headings);
}

.btn--purple:hover {
  color: white;
  background-color: var(--color-headings);
  border: 2px solid var(--color-headings);
}

.btn--search {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6rem;
}

.btn--search svg {
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 1rem;
}

.btn--block {
  width: 100%;
  display: inline-block;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}
/* Buttons end */

/* Input component */
.input {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-borders);
  color: var(--color-headings);
  font-size: 2rem;
  outline: 0;
  padding: 1.5rem 3.5rem;
}

.input::placeholder {
  color: #cbcdd7;
}

.input-group {
  border: 1px solid var(--color-borders);
  border-radius: var(--border-radius);
  display: flex;
}

.input-group .input {
  border: 0;
  flex-grow: 1;
  width: 0;
}

.input-group .btn {
  margin: 4px;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}
/* Input component end */

/* Card */
.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden;
}

.card__header,
.card__body {
  padding: 2rem 3rem;
}

.card--primary .card__header {
  background-color: var(--color-primary);
  color: white;
}

.card--secondary .card__header {
  background-color: var(--color-secondary);
  color: white;
}

.card--secondary .badge--secondary {
  background-color: #00b0cf;
}
/* Card end */

/* Plans */

.plan__name {
  color: white;
  margin: 0;
  font-weight: 500;
  font-size: 2.4rem;
}

.plan__price {
  font-size: 6rem;
}

.plan__billing-cycle {
  font-size: 2.4rem;
  font-weight: 300;
  opacity: 0.8;
  margin-right: 1rem;
}

.plan__description {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
}

.plan .list__item {
  font-weight: 600;
  margin-bottom: 2rem;
}

.plan .list {
  margin-bottom: 5rem;
}

.plan__popular .card__header {
  position: relative;
}

.plan__popular .card__header::before {
  content: url("/Icons/popular.svg");
  display: inline-block;
  width: 40px;
  position: absolute;
  top: -6px;
  right: 5%;
}

@media screen and (min-width: 1024px) {
  .plan__name {
    font-size: 1.4rem;
  }
  .plan__price {
    font-size: 5rem;
  }
  .plan__billing-cycle {
    font-size: 1.6rem;
  }
  .plan__description {
    font-size: 1.7rem;
  }
}

/* Plans end */

/* Media */

.media {
  display: flex;
}

.media__title {
  margin-top: 0;
}

.media__image {
  margin-top: 1.5rem;
}

.media__body {
  margin: 0 2rem;
}
/* Media End */

/* Quotes */
.quote {
  color: var(--color-body-darker);
  font-weight: 500;
}

.quote__text::before {
  content: open-quote;
}

.quote__text::after {
  content: close-quote;
}

.quote__image {
  margin: 0;
  position: relative;
  top: 3px;
}

.quote__author {
  font-weight: 600;
  margin-bottom: 0;
}

.quote__organization {
  opacity: 40%;
  font-size: 1.8rem;
  font-weight: 500;
}

@media screen and (min-width: 1024px) {
  .quote__author {
    font-size: 2rem;
  }
  .quote__organization {
    font-size: 1.6rem;
  }

  .quote__text {
    font-size: 2.4rem;
  }
}
/* Quotes End */

/* Grids */

.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--cols-2 {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .grid--cols-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
/* Grids End */
