<div class="card card--primary">
  <header class="card__header">Card Title</header>
  <div class="card__body">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi beatae,
    quibusdam esse aperiam magni natus laudantium consequuntur ex assumenda
    harum sit corrupti exercitationem totam, deserunt, suscipit temporibus ea
    odit rerum.
  </div>
</div>

<div class="card card--secondary">
  <header class="card__header">Card Title</header>
  <div class="card__body">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi beatae,
    quibusdam esse aperiam magni natus laudantium consequuntur ex assumenda
    harum sit corrupti exercitationem totam, deserunt, suscipit temporibus ea
    odit rerum.
  </div>
</div>
