<footer class="block block--dark">
  <section class="footer container">
    <div class="collapsible collapsible__footer">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">Products</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="../Icons/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul>
          <li>WordPress Hosting</li>
          <li>Free Automated WordPress</li>
          <li>Migrations</li>
          <li>Domain Names</li>
          <li>Monthly Web Hosting</li>
        </ul>
      </div>
    </div>

    <div class="collapsible collapsible__footer">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">Company</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="../Icons/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul>
          <li>About</li>
          <li>Affiliates</li>
          <li>Blog</li>
          <li>Careers</li>
          <li>Community</li>
          <li>News</li>
          <li>Green Hosting</li>
        </ul>
      </div>
    </div>

    <div class="collapsible collapsible__footer">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">Support</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="../Icons/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul>
          <li>Contact</li>
          <li>Knowledge Base</li>
          <li>Forums</li>
          <li>System Status</li>
          <li>Web Hosting</li>
          <li>DreamCompute</li>
        </ul>
      </div>
    </div>

    <div class="collapsible collapsible__footer">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">Domains</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="../Icons/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul>
          <li>Domain Checker</li>
          <li>Domain Transfer</li>
          <li>Free Domain</li>
          <li>XYZ Domain</li>
          <li>Cheap SSL Certificate</li>
        </ul>
      </div>
    </div>

    <div class="footerLogo">
      <img src="/Images/logo.svg" />
      <p>Copyright &copy; 2021 KT</p>
    </div>
  </section>
</footer>
